# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Runtime data created by installer
/data/config.json
/data/contacts.json

# Keep samples in repo
!/data/config.sample.json
!/data/contacts.sample.json
!/data/.gitkeep

# Uploads
/public/uploads/*
!/public/uploads/.gitkeep

# Backups
/data/*.bak
/data/backups/
